/* estilos.css RUTAS X AMERICA */

/* RESET DE ESTILOS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BOX-SIZING */
*{
    box-sizing: border-box;
    color: #666666;
    font-family: 'PT Sans', sans-serif;

}

/* INICIO DE ESTILOS */


/* ESTILOS IMAGENES CAROUSEL*/

.carousel-inner{
	height: 40vh;
	/*
		min/max
	*/
}
.imagenesCarousel{
    max-height: auto;
}
/* ESTILOS MENU*/
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #8cc63f;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu{
    display: flex;
    margin: 4em auto;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.menu a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: right;
    text-decoration: none;
    width: 100%;
}
.menu a:hover{
    background-color: #f15324;
    text-decoration: none;
    font-size: 19px;
    color: white;
}
nav ul.hiddenMenu {
  display: none;
}
.menu-section.on {
  z-index: 19;
  width: 100%;
  height: 1000px;
  display: block;
  background-color: rgba(241, 112, 36, .9);
  position: absolute;
}


/* ESTILOS CAJAUNO*/
.cajaUno{
    width: 100%;
    height: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cajaUno h3{
    color: #8cc63f;
}
/* ESTILOS CAJADOS*/
.cajaDos{
    width: 100%;
    height: 250px;
    padding: 15px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cajaDos h3{
    color: #f17024;
}

/* ESTILOS CAJACIRCULOS*/
.cajaCirculos{
    width: 100%;
    height: 400px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circulos{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #8cc63f;
    text-align: center;
    line-height: 150px;
    margin: 15px;
    font-size: 20px;
    color: white;
    
}
.circulos:hover{
    background-color: #57a73f;
    box-shadow: 0 0 0 10px #57a73f;
}

.cajaColombia, .cajaPeru, .cajaArgentina{
    background-color: #f2f2f2;
    width: 100%;
    height: 200px;
}
.cajaEcuador, .cajaChile{
    background-color: #dedede;
    width: 100%;
    height: 200px;
}
/* ESTILOS FORMULARIO*/
.formulario{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario div{
    margin-bottom: 2em;
    width: 100%;
}
.formulario h3{
    text-align: center;
}
input{
    display: block;
    margin-top: 10px;
	background: none;
	border: none;
	border-bottom: 1px solid red;
    font-size: 18px;
    width: 25em;
}
input,textarea:hover{
    
}
textarea{
    margin-top: 10px;
    width: 100%;
}

.formulario div:nth-of-type(4){
    margin-bottom: 0px;
}
.inputCirculo{
    margin: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: block;
    color: #504d8d;
}
.inputCirculo:hover{
    background-color: #c6ce61;
}

/* ESTILOS CAJA REDES*/
.redes{
    background-color: #00a99d;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.mail{
    background-color: #3bd8bc;
    display: inline-block;
    color: white;
    border-radius: 7px;
    padding: 4px 6px;
}

/* ESTILOS PIE*/
.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: 100px;
}
.pie span{
    color: #f15324;
}

/* MEDIA QUERIES*/

@media screen and (min-width:900px){
	
	nav ul.hiddenMenu {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.hiddenMenu a{
		color: gray;
	}
	.hiddenMenu a:hover{
		background-color: white;
		text-decoration: underline;
		color: gray;
	}
	.menu-toggle div{
		display: none;
	}
	.cajaEcuador, .cajaChile{
		width: 50%;
		float: left;
		padding:20px;
	}
	.cajaEcuador{
		background-color: pink;
	}
	
	.cajaPeru, .cajaArgentina{
		width: 50%;
		float: right;
		padding:20px;
	}
	.formulario{
		clear: both;
	}
}








